.secret {
  --gradient-rainbow: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
}

.secret {
  position: relative;
}

.secret:before,
.secret:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: -1;
  background: var(--gradient-rainbow);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: userBorder 20s linear infinite;
  border-radius: 10px;
}

.secret:after {
  filter: blur(20px);
}

@keyframes userBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
